<div class="form-card" [formGroup]="patientForm">

  <div class="card-header">
    <h2>Address Information</h2>
    <p>Enter patient address details</p>
  </div>

  <div class="form-grid">

    <!-- Address 1 -->
    <div class="form-group">
      <label>Address 1</label>

      <input
        type="text"
        formControlName="address1"
        placeholder="Enter Address 1">
    </div>


    <!-- Address 2 -->
    <div class="form-group">
      <label>Address 2</label>

      <input
        type="text"
        formControlName="address2"
        placeholder="Enter Address 2">
    </div>


    <!-- District -->
    <div class="form-group">
      <label>District</label>

      <input
        type="text"
        formControlName="district"
        placeholder="Enter District">
    </div>


    <!-- City -->
    <div class="form-group">
      <label>City</label>

      <input
        type="text"
        formControlName="city"
        placeholder="Enter City">
    </div>


    <!-- State -->
    <div class="form-group">
      <label>State</label>

      <input
        type="text"
        formControlName="state"
        placeholder="Enter State">
    </div>


    <!-- Country -->
    <div class="form-group">
      <label>Country</label>

      <input
        type="text"
        formControlName="country"
        placeholder="Enter Country">
    </div>


  </div>

</div>