<div class="preview-card">

    <!-- Avatar Section -->
    <div class="avatar-section">

        <div class="avatar-ring">
            <div class="avatar">
                {{ patientForm.value.name?.charAt(0) || 'P' }}
            </div>
        </div>

        <h3>
            {{ patientForm.value.name || 'Patient Name' }}
        </h3>

        <p>
            {{ patientForm.value.gender || 'Gender' }}
            •
            {{ patientAge || '--' }} Years
        </p>

    </div>

    <!-- Status -->
    <div class="patient-status">

        <span class="status">
            🟢 New Patient
        </span>

        <span class="patient-id">
            PID-240001
        </span>

    </div>

    <!-- Add from here -->
    <hr>

    <div class="preview-item">
        <span>📱 Mobile</span>
        <strong>{{ patientForm.value.mobile || '--' }}</strong>
    </div>

    <div class="preview-item">
        <span>✉ Email</span>
        <strong>{{ patientForm.value.email || '--' }}</strong>
    </div>

    <div class="preview-item">
        <span>🩸 Blood Group</span>
        <strong>{{ patientForm.value.bloodGroup || '--' }}</strong>
    </div>

    <div class="preview-item">
        <span>🏠 City</span>
        <strong>{{ patientForm.value.city || '--' }}</strong>
    </div>

    <div class="preview-item">
        <span>📍 State</span>
        <strong>{{ patientForm.value.state || '--' }}</strong>
    </div>

    <div class="preview-item">
        <span>📮 Pincode</span>
        <strong>{{ patientForm.value.pincode || '--' }}</strong>
    </div>

</div>